# Generated via Next.js
.next

# Generated via Node.js
node_modules

# Generated via next-pwa
**/public/workbox**
**/public/sw**


# Yarn 2 zero-Installs
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
